Repository permafrost-dev/zeget: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write, gofmt -w, bunx markdownlint-cli2 --fix

update unit tests
  lib/utilities/helpers_test.go
Due: gofmt -w

add unit tests, wip
  lib/assets/assets_test.go
Due: gofmt -w

add unit tests, wip
  lib/detectors/detect.go
  lib/detectors/detector_chain.go
  lib/detectors/detector_chain_test.go
Due: gofmt -w

add unit tests, wip
  lib/filters/filters_test.go
Due: gofmt -w

add unit tests, wip
  lib/extraction/binary_chooser_test.go
  lib/extraction/extracted_file.go
  lib/extraction/extracted_file_test.go
  lib/extraction/glob_chooser.go
  lib/extraction/glob_chooser_test.go
  lib/extraction/literal_file_chooser_test.go
Due: gofmt -w

disable staticcheck
  .golangci.yaml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

add unit tests, test fixtures, wip
  lib/extraction/extractors_test.go
  test/test-config-toml.gz
Due: gofmt -w

add unit tests, update mock http client
  lib/github/rate_limit.go
  lib/github/rate_limit_test.go
  lib/mockhttp/mock_http_client.go
Due: gofmt -w

add unit tests, wip
  lib/github/errors.go
  lib/github/errors_test.go
  lib/github/github_error_test.go
  lib/github/releases.go
  lib/github/releases_test.go
Due: gofmt -w

add unit tests, wip
  lib/files/link_test.go
Due: gofmt -w

add unit tests, wip
  lib/reporters/asset_sha256_hash_reporter_test.go
  lib/reporters/message_reporter_test.go
Due: gofmt -w

update gitignore
  .gitignore
Due: none

add unit tests, wip
  lib/data/cache_test.go
  lib/data/types.go
  lib/data/types_test.go
Due: gofmt -w

add unit tests, rename files to conventions, wip
  lib/verifiers/NoVerifier.go
  lib/verifiers/Sha256SumFileAssetVerifier.go
  lib/verifiers/Sha256Verifier.go
  lib/verifiers/no_verifier.go
  lib/verifiers/no_verifier_test.go
  lib/verifiers/sha256_asset_verifier.go
  lib/verifiers/sha256_asset_verifier_test.go
  lib/verifiers/sha256_error.go
  lib/verifiers/sha256_error_test.go
  lib/verifiers/sha256_printer.go
  lib/verifiers/sha256_printer_test.go
  lib/verifiers/verify.go
Due: gofmt -w

update codecov config
  codecov.yml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

add unit tests, rename files to conventions, wip
  lib/verifiers/helpers_test.go
  lib/verifiers/sha256_verifier.go
  lib/verifiers/sha256_verifier_test.go
Due: gofmt -w

add unit tests, rename files to conventions, wip
  lib/verifiers/sha256_sum_file_asset_verifier.go
  lib/verifiers/sha256_sum_file_asset_verifier_test.go
Due: gofmt -w

add unit tests
  lib/verifiers/sha256_asset_verifier_test.go
  lib/verifiers/sha256_sum_file_asset_verifier_test.go
  lib/verifiers/sha256_verifier.go
  lib/verifiers/sha256_verifier_test.go
Due: gofmt -w

add unit tests
  lib/detectors/os.go
  lib/detectors/os_test.go
Due: gofmt -w

add unit tests
  lib/detectors/system_detector.go
  lib/detectors/system_detector_test.go
Due: gofmt -w

wip
  app/app_write.go
  app/application.go
  lib/utilities/helpers.go
Due: gofmt -w

wip
  app/app_download.go
  app/application.go
  lib/appflags/flags.go
  lib/data/types.go
  lib/home/compactor.go
Due: gofmt -w

initial filters implementation, wip
  app/application.go
  lib/appflags/flags.go
  lib/filters/filter.go
  lib/filters/handlers.go
  lib/filters/handlers_test.go
  lib/filters/parser.go
  lib/filters/parser_test.go
  lib/utilities/filters.go
  lib/utilities/filters_test.go
Due: gofmt -w

wip
  README.md
  app/app_run.go
  app/application.go
  app/config.go
  lib/appflags/flags.go
Due: gofmt -w, bunx markdownlint-cli2 --fix

wip
  .gitignore
  Taskfile.yaml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

wip
  .github/workflows/build-and-test.yml
  Taskfile.yaml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

disable ginkgo cache
  .github/workflows/build-and-test.yml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

wip
  lib/globals/globals.go
  lib/globals/globals_test.go
Due: gofmt -w

wip
  .github/workflows/build-and-test.yml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

update readme
  README.md
Due: bunx markdownlint-cli2 --fix

Update README.md
  README.md
Due: bunx markdownlint-cli2 --fix

Update update-readme-hash.sh
  scripts/update-readme-hash.sh
Due: none

update docs
  DOCS.md
Due: bunx markdownlint-cli2 --fix

update docs
  README.md
Due: bunx markdownlint-cli2 --fix

update name to zeget in taskfile
  Taskfile.yaml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

Path conditions:
  bunx prettier --config ./prettier.config.cjs --write: any of: *.{html,json,css,scss,gql,js,ts,jsx,tsx,cjs,mjs}
  bunx prettier --config ./prettier.config.cjs --tab-width 2 --write: any of: *.{yaml,yml}
  gofmt -w: any of: *.go
  bunx markdownlint-cli2 --fix: any of: *.md
