Repository permafrost-dev/zeget: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write, gofmt -w, bunx markdownlint-cli2 --fix

add unit tests
  lib/mockhttp/mock_http_client_test.go
Due: gofmt -w

update man doc filename
  man/zeget.md
Due: bunx markdownlint-cli2 --fix

update scripts
  scripts/install.sh
  scripts/update-readme-hash.sh
Due: none

update readme
  README.md
Due: bunx markdownlint-cli2 --fix

wip
  app/app_download.go
  app/app_run.go
  app/app_write.go
  app/application.go
  go.mod
  go.sum
  lib/data/cache.go
  lib/data/types.go
Due: gofmt -w

implement global config ignore_patterns regex ignoreable patterns
  app/app_run.go
  app/config.go
  lib/detectors/detect.go
  lib/detectors/detect_test.go
  lib/detectors/detector_chain.go
  lib/detectors/single_asset_detector.go
  lib/utilities/arrays.go
Due: gofmt -w

wip
  README.md
Due: bunx markdownlint-cli2 --fix

wip
  .github/workflows/build-and-test.yml
  app/config.go
  test/eget.toml
  test/test_zeget.go
  test/zeget.toml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write, gofmt -w

wip
  .golangci.yaml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

Update README.md
  README.md
Due: bunx markdownlint-cli2 --fix

wip
  app/application.go
  lib/globals/version.go
Due: gofmt -w

wip
  .github/workflows/run-goreleaser.yml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

tooling/misc upgrades
  .custom-hooks/pre-commit
  .github/workflows/build-and-test.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/run-goreleaser.yml
  .golangci.yaml
  .goreleaser.yaml
  .markdownlint.yaml
  prettier.config.cjs
Due: bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

add typos check to precommit hook
  .custom-hooks/pre-commit
Due: none

fix typo
  lib/utilities/helpers.go
Due: gofmt -w

update functional test
  test/test_zeget.go
Due: gofmt -w

disable flaky test
  lib/download/download_client_test.go
Due: gofmt -w

linter fixes, linter config updates, pre-commit hook updates
  .custom-hooks/pre-commit
  .golangci.yaml
  app/app_write.go
  lib/archives/ZipArchive_test.go
  lib/extraction/extractors_test.go
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write, gofmt -w

improve detector unit tests
  lib/detectors/detect_test.go
Due: gofmt -w

improve detector unit tests
  lib/detectors/detector_chain_test.go
Due: gofmt -w

improve unit tests
  lib/extraction/extractors_test.go
Due: gofmt -w

refactoring, minor tweaks, add CEL engine
  app/app_run.go
  app/application.go
  go.mod
  go.sum
  lib/assets/assets.go
  lib/data/types.go
  lib/errors/errors.go
  lib/extraction/extracted_file.go
  lib/filters/cel_filters.go
  lib/registry/registry.go
  lib/utilities/helpers.go
Due: gofmt -w

refactoring
  app/app_run.go
  app/application.go
  lib/data/types.go
  lib/registry/registry.go
  lib/utilities/helpers.go
Due: gofmt -w

refactoring
  app/app_run.go
  app/application.go
Due: gofmt -w

refactoring
  app/app_run.go
Due: gofmt -w

refactoring, cleanup, wip
  .github/codecov.yml
  .github/workflows/build-and-test.yml
  .github/workflows/lint-code.yml
  .github/workflows/run-goreleaser.yml
  .golangci.yaml
  .goreleaser.yaml
  .lintstagedrc.json
  .markdownlint.yaml
  Taskfile.yaml
  app/app_download.go
  app/app_run.go
  app/application.go
  go.mod
  go.sum
  lib/data/cache.go
  lib/download/client.go
  lib/download/download_client.go
  lib/download/helpers.go
  lib/lockfile/lockfile.go
  prettier.config.js
Due: bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write, gofmt -w

Path conditions:
  bunx prettier --config ./prettier.config.cjs --write: any of: *.{html,json,css,scss,gql,js,ts,jsx,tsx,cjs,mjs}
  bunx prettier --config ./prettier.config.cjs --tab-width 2 --write: any of: *.{yaml,yml}
  gofmt -w: any of: *.go
  bunx markdownlint-cli2 --fix: any of: *.md
