Repository permafrost-dev/zeget: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD), bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

.lintstagedrc.json:

{
    "*.go": ["gofmt -w", "golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)"],
    "*.{js,ts,jsx,tsx,cjs,mjs}": ["bunx prettier --config ./prettier.config.cjs --write"],
    "*.{html,md,json,css,scss,gql}": ["bunx prettier --config ./prettier.config.cjs --write"],
    "*.{yaml,yml}": ["bunx prettier --config ./prettier.config.cjs --tab-width 2 --write"]
}

wip
  .custom-hooks/pre-commit
  .lintstagedrc.json
  .prettierignore
  Taskfile.yaml
  prettier.config.cjs
Due: bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

wip
  .lintstagedrc.json
Due: bunx prettier --config ./prettier.config.cjs --write

wip
  .custom-hooks/pre-commit
  .lintstagedrc.json
  prettier.config.cjs
Due: bunx prettier --config ./prettier.config.cjs --write

wip
  app/application.go
  app/application_write.go
  app/dl.go
  main.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

wip
  .custom-hooks/pre-commit
Due: none

add mockhttp package for testing download.client requests
  go.mod
  go.sum
  lib/finders/github_asset_finder_test.go
  lib/mockhttp/mock_http_client.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

wip
  lib/finders/github_asset_finder_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

wip
  lib/download/download_client.go
  lib/download/download_client_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

add unit tests
  lib/finders/github_source_finder_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

adding unit tests, refactoring, wip
  go.mod
  go.sum
  lib/files/link.go
  lib/files/link_test.go
  lib/mockhttp/mock_http_client.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

refactoring, fixing bugs, adding unit tests
  app/application.go
  lib/data/cache.go
  lib/extraction/extractors.go
  lib/targetfile/helpers.go
  lib/targetfile/helpers_test.go
  lib/targetfile/targetfile.go
  lib/utilities/helpers.go
  lib/verifiers/NoVerifier.go
  lib/verifiers/Sha256AssetVerifier.go
  lib/verifiers/Sha256Printer.go
  lib/verifiers/Sha256SumFileAssetVerifier.go
  lib/verifiers/Sha256Verifier.go
  lib/verifiers/verify.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

update readme with correct sha256 hash for install script, correct download urls for install script
  README.md
Due: bunx prettier --config ./prettier.config.cjs --write

update docs
  LICENSE
  README.md
Due: bunx prettier --config ./prettier.config.cjs --write

refactoring to packages, etc.
  README.md
  app/app_download.go
  app/app_write.go
  app/application.go
  app/detect.go
  lib/appflags/flags.go
  lib/detectors/all_detector.go
  lib/detectors/architectures.go
  lib/detectors/detect.go
  lib/detectors/detect_test.go
  lib/detectors/detector_chain.go
  lib/detectors/os.go
  lib/detectors/single_asset_detector.go
  lib/detectors/system_detector.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD), bunx prettier --config ./prettier.config.cjs --write

add --no-interaction flag and functionality, update docs
  README.md
  app/application.go
  lib/appflags/flags.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD), bunx prettier --config ./prettier.config.cjs --write

add badges to readme
  README.md
Due: bunx prettier --config ./prettier.config.cjs --write

major refactoring, wip
  app/application.go
  app/return_statuses.go
  lib/data/cache.go
  lib/data/types.go
  lib/finders/direct_asset_finder.go
  lib/finders/direct_asset_finder_test.go
  lib/finders/finder.go
  lib/finders/github_asset_finder.go
  lib/finders/github_asset_finder_test.go
  lib/finders/github_source_finder.go
  lib/finders/github_source_finder_test.go
  lib/utilities/helpers.go
  main.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

fix broken tests
  lib/utilities/helpers_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

minor bug fixes
  app/application.go
  lib/detectors/system_detector.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

apply linter suggestions
  app/application.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

wip
  app/application.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

wip
  go.mod
  go.sum
Due: none

add functionality for learning what asset filters to apply for targets once an asset has been manually selected once
  app/application.go
  lib/assets/assets.go
  lib/filters/filters.go
  lib/finders/github_asset_finder.go
  lib/utilities/helpers.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

always request rate limit, remove --rate flag, add reporters package for reporting information/data to output or files
  README.md
  app/application.go
  lib/appflags/flags.go
  lib/data/types.go
  lib/github/rate_limit.go
  lib/reporters/asset_sha256_hash_reporter.go
  lib/reporters/message_reporter.go
  lib/reporters/reporters.go
  lib/verifiers/helpers.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD), bunx prettier --config ./prettier.config.cjs --write

bug fixes
  lib/data/cache.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

bug fixes
  .github/workflows/build-and-test.yml
  app/application.go
  lib/data/types.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD), bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

update fmt task, apply formatting
  Taskfile.yaml
  lib/data/cache.go
  man/eget.md
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD), bunx prettier --config ./prettier.config.cjs --write, bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

apply shellcheck fixes
  scripts/install.sh
Due: none

add script to update installer.sh hash in the readme, update readme
  README.md
  scripts/update-readme-hash.sh
Due: bunx prettier --config ./prettier.config.cjs --write

refactoring, adding unit tests, wip
  app/app_write.go
  app/application.go
  app/config.go
  lib/appflags/flags.go
  lib/data/types.go
  lib/detectors/all_detector.go
  lib/detectors/detect.go
  lib/detectors/detect_test.go
  lib/detectors/detection_result.go
  lib/detectors/detector_chain.go
  lib/detectors/single_asset_detector.go
  lib/detectors/system_detector.go
  lib/github/errors.go
  lib/reporters/asset_sha256_hash_reporter.go
  lib/reporters/message_reporter.go
  lib/targetfile/TargetFile_test.go
  lib/targetfile/helpers.go
  lib/targetfile/targetfile.go
  lib/targetfile/targetfile_test.go
  lib/utilities/errors.go
  lib/utilities/helpers.go
  main.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

code cleanup
  lib/targetfile/helpers.go
  lib/targetfile/helpers_test.go
  lib/targetfile/targetfile.go
  lib/targetfile/targetfile_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

test cleanup
  lib/targetfile/targetfile_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

add unit tests, test cleanup, wip
  lib/utilities/errors.go
  lib/utilities/errors_test.go
  lib/utilities/helpers.go
  lib/utilities/helpers_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

add unit tests, wip
  lib/detectors/detection_result_test.go
  lib/home/home_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

add unit tests, wip
  lib/files/files_test.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)

adjust coverage range for codecov
  codecov.yml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

adjust when codeql runs
  .github/workflows/codeql-analysis.yml
Due: bunx prettier --config ./prettier.config.cjs --tab-width 2 --write

removing os.Exit calls in favor of return values where possible
  app/application.go
  lib/utilities/helpers.go
Due: gofmt -w, golangci-lint run -c ./.golangci.yaml --new-from-rev $(git rev-parse HEAD)
